@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

.bar > * {
	padding: 20px 20px 0 20px;
}

.workspaces {
	border: 2px solid @mauve;
} 

.workspace {
	background: transparent;
}

.workspace.empty {
	color: @overlay1;
}

.workspace.normal {
	padding: 0 10px;
	color: @text;
}

.workspace.focused {
	color: @mauve;
}

.client-title {
	border: 2px solid @subtext0;
	color: @text;
	padding: 0 10px;
}

.systray {
	border: 2px solid @teal;
	margin-right: 12px;
	color: @green;
}

.systray button {
	background: transparent;
}

.volume {
	border: 2px solid @green;
	color: @yellow;
	margin-right: 12px;
	padding: 0 10px;
}

.volume * {
	color: @green;
}

.battery {
	border: 2px solid @yellow;
	color: @peach;
	margin-right: 12px;
	padding: 0 10px;
}

.battery * {
	color: @yellow;
}

.clock {
	border: 2px solid @peach;
	color: @peach;
	margin-right: 12px;
	padding: 0 10px;
}

.calendar {
	border: 2px solid @red;
	color: @red;
	padding: 0 10px;
}
